/* General */
body {
    background-color: #0d0d0d;
    color: #e0e0e0;
    min-width: 1213px;
    width: auto !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 767px) {
    body {
        min-width: initial;
        padding: 10px;
    }

    .card, .ico_box, .mining-anim {
        width: 100% !important;
        margin: 10px 0;
        box-sizing: border-box;
    }

    table.light thead tr th, table.light tr td {
        font-size: 12px;
        padding: 10px;
    }

    .beauty_button, .beauty_button_mid, .beauty_button_big {
        width: 100% !important;
        padding: 10px;
        font-size: 14px;
    }

    .network-stat, .pvp-stat {
        font-size: 12px;
    }

    .system_stat {
        height: auto;
        margin-left: 0;
        width: 100%;
    }

    .ico_pot, .ico_pot_under {
        font-size: 18px;
    }
}

/* Logo */
.logo {
    margin-right: 10px;
}

/* Tables */
table.light tr th:first-child {
    border-radius: 5px 0 0 0;
}

table.light tr th {
    border-radius: 0;
}

table.light thead tr th {
    background: linear-gradient(45deg, #ff6f61, #ff9e80);
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 2px solid #ff6f61;
    box-shadow: 0 0 10px #ff6f61;
}

table.light tr td {
    padding: 15px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    background: rgba(255, 111, 97, 0.1);
    vertical-align: middle;
    border-bottom: 1px solid #444;
    transition: background 0.3s, box-shadow 0.3s;
}

table.light tr:hover td {
    background: rgba(255, 111, 97, 0.2);
    box-shadow: 0 0 10px #ff9e80;
}

/* Minestat Header */
.minestat h3 {
    text-align: left;
    font-size: 26px;
    font-weight: 700;
    padding: 10px 0;
    margin: 0 0 20px 0;
    color: #ff6f61;
    text-shadow: 2px 2px #ff9e80;
}

/* Marketplace */
.marketplace {
    padding-bottom: 100px;
}

/* Divider */
.divider {
    margin: 20px 0;
    border-top: 2px solid #ff6f61;
    box-shadow: 0 0 5px #ff6f61;
}

.divider_small {
    margin: 5px 0;
    border-top: 1px solid #ff9e80;
    box-shadow: 0 0 5px #ff9e80;
}

/* Progress */
.progress {
    height: 1.5rem;
    background: #ff6f61;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #ff6f61;
}

/* Buttons */
.beauty_button, .beauty_button_mid, .beauty_button_big {
    padding: 15px;
    color: #ffffff;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.beauty_button:hover, .beauty_button_mid:hover, .beauty_button_big:hover {
    background-color: #ff9e80;
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff9e80;
}

.beauty_button {
    width: 48%;
}

.beauty_button_mid {
    width: 36%;
}

.beauty_button_big {
    width: 97%;
}

/* Cards */
.card {
    width: 15.5rem;
    margin: 10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    border-radius: 15px; /* Bordes más redondeados */
    transition: transform 0.3s, box-shadow 0.3s;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace; /* Fuente estilo rigs de minería */
    position: relative;
    box-shadow: 0 0 15px #00ff00; /* Sombra de neón */
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; /* Sombra de texto de neón */
}

.card:hover {
    transform: translateY(-10px); /* Más elevación al hacer hover */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7), 0 0 20px #00ff00; /* Sombra de neón más intensa */
}

.card::before, .card::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: linear-gradient(180deg, #00ff00, transparent);
    animation: neon-border 2s linear infinite;
}

.card::before {
    left: 0;
    animation-delay: 0s;
}

.card::after {
    right: 0;
    animation-delay: 1s;
}

.owned_card {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    padding: 4px 8px; /* Ajuste de padding */
    color: #ffffff;
    background-color: #555;
    display: block;
    border-radius: 0 0 10px 0;
    text-shadow: 0 0 5px #ffffff; /* Sombra de texto de neón */
    box-shadow: 0 0 10px #555; /* Sombra de neón para owned_card */
}

@keyframes neon-border {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

/* Mining Animation */
.mining-anim {
    border-radius: 10px;
    background: linear-gradient(to right, #000, #444);
    padding: 15px;
    width: 730px;
    height: 480px;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    color: #b0bec5;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    box-shadow: 0 0 15px #00ff00;
}

.console-text {
    display: inline-block;
    height: 230px;
    color: #00ff00;
    overflow-y: scroll;
}

.static-anim {
    display: inline-block;
    position: absolute;
    left: 0;
    font-size: 14px;
    width: 100%;
}

.static-anim ul {
    list-style-type: none;
}

/* Network and PvP Stats */
.network-stat, .pvp-stat {
    display: inline-block;
    position: absolute;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
}

.network-stat {
    width: 55%;
    top: 0;
}

.pvp-stat {
    width: 40%;
    right: 0;
}

/* Dos Mining */
.dos-mining {
    width: 100%;
    background-color: #222; /* Fondo más oscuro */
    color: #ffd54f;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px; /* Más padding para un look más espacioso */
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    box-shadow: 0 0 20px #ffd54f; /* Sombra de neón más intensa */
    font-family: 'Courier New', Courier, monospace; /* Fuente estilo DOS */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.dos-mining:hover {
    background-color: #ffd54f; /* Cambio de color de fondo */
    color: #222;
    box-shadow: 0 0 30px #ffd54f; /* Sombra de neón más intensa */
}

.dos-mining span {
    font-size: 20px;
    color: #ffd54f;
    display: block;
    margin: 10px 0;
    transition: color 0.3s;
}

.dos-mining:hover span {
    color: #222; /* Cambio de color del texto */
}

/* Jumbotron */
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #222;
    border-radius: .3rem;
    box-shadow: 0 0 20px #ff6f61;
}

/* Leaderboard */
.leaderboard {
    max-width: 80%;
    padding: 30px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 15px #ff6f61;
}

table.light th, table.light td {
    padding: 10px;
    text-align: left;
}

/* ICO */
.ico_box {
    width: 100%;
    height: 100px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #ff6f61;
    color: #ffffff;
    margin-bottom: 20px;
}

.ico_box h5, .ico_box h6 {
    font-size: 18px;
    font-weight: bold;
    color: #ff6f61;
}

.ico_pot, .ico_pot_under {
    font-size: 20px;
    color: #ff6f61;
    padding: 15px;
}

/* Footer */
footer {
    background-color: #333;
    color: #e0e0e0;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #ff6f61;
    box-shadow: 0 -2px 10px #ff6f61;
}

footer a {
    color: #ff6f61;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
